 
main {
    margin-top: 20px;
    padding: 20px;
    background-color: #F4F4F6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 11px;
  }
  
  /* Style for the navigation tabs */
  .nav-tabs {
    display: flex;
    justify-content: center;
    background-color: #000C52;
    color: white;
    padding: 10px;
     
  }
  
  .nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: white;
  }
  
  /* Style for the footer */
  footer {
    text-align: center;
    background-color: black;
    color: black;
    padding: 10px;
  }
  img {
    border-radius: 11px;
  }